.datatable-icon-left:before {
  content: "\ea9d";
  font-family: 'icofont';
  font-style: normal;
}

.datatable-icon-prev:before {
  content: "\ea97";
  font-family: 'icofont';
  font-style: normal;
}

.datatable-icon-right:before {
  content: "\eaa0";
  font-family: 'icofont';
  font-style: normal;
}

.datatable-icon-skip:before {
  content: "\ea98";
  font-family: 'icofont';
  font-style: normal;
}

